<!-- Tab: OWNERREF LINKS -->
<div id="ownerlinks" class="tab-pane">
    <div id="oref_border">
      <div id="ownerRefLinksDetail" class="mr-2"></div>
  
      <!-- ZOOMABLE GRAPH AREA -->
      <div id="oRefWrapper" style="width: 100%; height: 100%;">
        <!-- graphvizManager will insert <svg> here -->
      </div>
  
      <!-- FILTER -->
      <span id="ownerRef_filter">Filter</span>
    </div>
  </div>
  